<% content_for :specific_stylesheet do %>
<style>
.layout-view {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .layout-view {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
</style>
<% end %>
<% content_for :specific_javascript do %>
<% end %>
<!-- EDIT FROM HERE -->

<section class="section-show-notice clearfix">
  <h1 class="large-title-en style-spfont">Page Not Found</h1>
  <h2 class="large-title-ch">很抱歉！找不到您要的頁面</h2>
</section>

<!-- EDIT END HERE -->