<!DOCTYPE html>
<html lang="zh-tw">

<head>
<%= render :partial => "partial/head-meta" %>
<%= render :partial => "partial/insert-stylesheets" %>
</head>

<body>
<div class="layout-container">
<!-- HEADER START -->
<%= render :partial => "partial/layout-header" %>
<!-- HEADER END -->

<div id="layout-view" class="layout-view layout-view-<%= @page %> <%= @color %>">

<%if(@page!= "index")%>
<div class="layout-view-banner">
  <div class="inner" style="background-image: url('<%=@page_banner%>');"></div>
</div>
<div class="layout-view-inner">
  <div class="col-left"><%= yield :left_nav %></div>
  <div class="col-right"><%= yield %></div>
</div>

<%else%>
<%= yield %>
<%end%>

</div>
<!-- FOOTER START -->
<%= render :partial => "partial/layout-footer" %>
<!-- FOOTER END -->
</div>

<!-- POPUP CONTENT HIDE HERE -->
<!-- POPUP CONTENT END -->

<%= livereload_js if ENV["RACK_ENV"] != "production" %>
<%= render :partial => "partial/insert-javascripts" %>

</body>
</html>