<% content_for :specific_stylesheet do %>
<%#= stylesheet_link_tag "vendors/perfect-scrollbar" %>
<%#= stylesheet_link_tag "vendors/swiper" %>
<%#= stylesheet_link_tag "units/pagename" %>
<% end %>

<% content_for :specific_javascript do %>
<%#= javascript_include_tag "vendors/jquery.lazyload" %>
<%#= javascript_include_tag "vendors/jquery.scrollstop" %>
<%#= javascript_include_tag "vendors/perfect-scrollbar.jquery" %>
<%#= javascript_include_tag "vendors/swiper" %>
<%#= javascript_include_tag "units/pagename" %>
<script>
  // var swiper = new Swiper('.swiper-container', {
  //   effect: 'fade',
  //   nextButton: '.swiper-next',
  //   prevButton: '.swiper-prev',
  //   pagination: '.swiper-pagination',
  //   bulletClass: 'bullet',
  //   simulateTouch: true,
  //   autoplay: 5000,
  //   speed: 1000,
  //   spaceBetween: 0,
  //   paginationClickable: true,
  //   paginationBulletRender: function (index ){
  //     var newBullet =  "<span class='bullet style-spfont'>"+(index+1)+"</span>";
  //     return newBullet;
  //   }
  // });

  // (function() {

  // $("img.photo").lazyload({
  //     event: "scrollstop",
  //     effect : "fadeIn"
  // });

  //   $('.section-search').perfectScrollbar();

  // })();

</script>
<% end %>
<%# will give layout-view a class : "layout-view-@pagename" %>
<% @page = "pagename" %>
<% @color = "color-lake" %>
<% @page_banner = "https://dummyimage.com/1920x245/369/fff" %>

<% content_for :left_nav do %>
<img class="neft-nav-img" src="https://dummyimage.com/165x100/9cc/fff" width="100%" alt="">
<a href="#" class="neft-nav-item style-border">有框的按鈕</a>
<a href="#" class="neft-nav-item style-border">有框的按鈕</a>
<a href="#" class="neft-nav-item">無框的按鈕</a>
<a href="#" class="neft-nav-item">購物廣場介紹</a>
<a href="#" class="neft-nav-item">購物廣場介紹</a>
<%11.times do |f|%>
<a href="#" class="neft-nav-item clearfix">
  <span class="style-spfont"><b><%=f+1%></b>F</span><span class="right-text">樓層名稱</span>
</a>
<%end%>
<a href="#" class="neft-nav-item clearfix">
  <span class="style-spfont"><b>12</b>F-<b>14</b>F</span><span class="right-text">樓層名稱樓層名稱</span>
</a>
<a href="#" class="neft-nav-item clearfix">
  <span class="style-spfont">B<b>1</b></span><span class="right-text">樓層名稱樓層名稱</span>
</a>
<a href="#" class="neft-nav-item clearfix">
  <span class="style-spfont">B<b>2</b>-B<b>4</b></span><span class="right-text">停車場</span>
</a>
<%end%>

<h2 class="main-title">
  幾米夢幻世界 Page Title
</h2>
<div class="main-content">
  <h3 class="main-subtitle"><span class="style-spfont">12F</span>次標停車場管理辦法 <span class="append">Append Text</span></h3>
  <%10.times do |i|%>
  <h4>中標中標中標中標中標中標中標中標中標中標</h4>
  <h5>小標小標小標小標小標小標小標小標小標小標</h5>
  <p>
    <%(i+1).times do%>
    內文內文內文sample page content line <%=i%>
    <%end%>
  </p>
  <%end%>
</div>
