<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "units/index" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/index" %>
<script>

</script>
<% end %>
<% @page = "index" %>

<section>
<img src="https://dummyimage.com/1280x715/9cc/fff" width="100%" alt="">
  <%50.times do |i|%>
  <p>INDEX content line <%=i%></p>
  <%end%>
</section>