<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
<%= stylesheet_link_tag "font-awesome/css/font-awesome.min" %>
<%= stylesheet_link_tag "global" %>
<%= yield :specific_stylesheet %>