<footer id="footer">
  <div class="inner">
    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="" class="style-spfont btn-en">EN</a>
    <form class="search-bar"><input type="text" placeholder="搜尋"></form>
    <div class="col-right">
      <span class="br style-spfont">JPIIN 2017.</span>
      <span class="br style-spfont">ALL RIGHTS RESERVED</span>
    </div>
  </div>
</footer>