<header id="header">
<ul class="nav-list">
  <%6.times do %>
  <li class="nav-item">
    <a href="" class="nav-item-name">目錄項目</a>
    <ul class="nav-sublist">
      <%4.times do |j|%>
      <li class="nav-subitem">
        <span class="nav-subitem-name">
          <%(j+1).times do%>目錄內容<%end%>
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-1x"></i>
          <i class="fa fa-caret-right fa-stack-1x"></i>
        </span> 
        </span>
        <a href="/views/sample/page.html"></a>
      </li>
      <%end%>
    </ul>
  </li>
  <%end%>
</ul>
</header>