input,textarea,select{
  border: 0;
  @extend %chineseFont;
  font-size: 1em;
  color: inherit;
  &:focus{
    outline: none;
  }
  &.readonly, &:read-only, &:-moz-read-only{
    cursor: unset !important;
    pointer-events: none !important;
  }
}
textarea{
  resize: none;
  line-height: 2;
}
button{
  background-color: transparent;
  cursor: pointer;
  font-family: 'Chinese' , sans-serif;
  &:focus{
    outline: none;
  }
}
select{
  max-width: 100%;
  font-size: 1em;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  padding: 4px 0;
  padding-right: 1em;
  letter-spacing: 2px;
  -webkit-appearance: none; /*Chrome*/
  -moz-appearance: none; /*FF*/
  appearance: none;/*CSS3*/
  &::-ms-expand {
  display: none; /*IE*/
  @media screen and (max-width: 1024px) {
    letter-spacing: 1px;
  }
}

option{
  background-color: $color-orange;
  border: 0;
  letter-spacing: 2px;
  &:not(:checked){}
  &:checked{}
  &:hover{
    background-color: $color-orange;      
  }
}
}
.select-wrap{
  position: relative;
  display: inline-block;
  max-width: 100%;
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0.6em;
    bottom: 0;
    right: 2px;
    width: 5px;
    height: 5px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    @include transform(rotate(45deg));
  }
}
.form-block{
  position: relative;
  border-bottom: 1px solid white;
  padding-left: 6em;
  &.style-half{
    display: inline-block;
    width: 48%;
    margin-left: -5px;
    &:first-child{
      margin-left: 0;
      margin-right: 4%;
    }
    @media (max-width: 767px){
      width: 100%;
      margin-left: 0;
    }
  }
  &.style-full{
    clear: left;
  }
  margin-bottom: 1px;
  &.is-focus{
    border-bottom: 2px solid white;
    margin-bottom: 0;
  }
  .module-form-label{
    width: 6em;
    line-height: 4;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .module-form-input{
    width: 100%;
    height: 4em;
    height: calc( 4em - 2px );
    background-color: $color-orange;
    background-color: transparent;
  }
  .module-form-textarea{
    padding-top: 1.5em;
    padding-top: calc(1.5em - 3px);
    width: 100%;
    height: 10em;
    line-height: 1.5;
    background-color: $color-orange;
    background-color: transparent;
  }
  .form-warning-text{
    text-align: left;
    font-size: 16px;
    line-height: 3;
  }
  .select-wrap{
    select{
      padding: 1.25em 1.5em 1.25em 0;
      border-bottom: 0;
    }
    &::after{
      top: 1.5em;
      width: 10px;
      height: 10px;
      @media screen and (max-width: 1024px) {
        top: 1.7em;
        width: 5px;
        height: 5px;
      }
    }
  }

}