/* Custom Global style for this project */

// LEFT MENU STYLE - now in menu, news
.nav-category{
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding-top: 120px;
  padding-left: 40px;
  @include transition( margin-top 0.6s 0.3s ease )
}
.category-list{
  padding-top: 30px;
  padding-bottom: 30px;
}
.category-item{
  margin-bottom: 5px;
  min-height: 85px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-left: 3px solid #333;
  padding-left: 15px;
  color: #ccc;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  @include transition( border-color 0.3s ease-in-out , color 0.2s ease-in-out  , height 0.3s ease-in-out );

  &:hover,&.is-active{
    border-color: $color-orange;
  }
  &.is-active{
    color: $color-orange;
    font-size: 26px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
//Footer Menu - now in nes-detail.

.nav-footer{
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  text-align: center;
  font-size: 14px;
  color: #bbb;
  padding-left: 5px;
  &.style-stick{
    position: absolute;
    width: 100%;
  }
  li{
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin-left: -5px;
    cursor: pointer;
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
    a{
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      @include transition( color 0.2s ease-in-out );
      &:hover,&:active{
        color: $color-orange;
      }
    }
  }
}

//PAGE TITLE STYLE

.large-title-en{
  text-align: center;
  color: $color-orange;
  font-size: 75px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 25px;
  @media (max-width: 1024px){
    font-size: 30px;

  }
}

.large-title-ch{
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  border-bottom: 5px solid white;
  font-size: 34px;
  padding: 25px 40px;
  display: inline-block;
  @media (max-width: 1024px){
    font-size: 18px;
    padding: 10px;
    border-bottom: 3px solid white;
  }
}

// TITLE STYLE - WITH FRAME (now only in index)
.title.style-frame{
  margin-bottom: 50px;
  background: url("/images/img-frame.svg") center top no-repeat;
  @include background-size(100% 100%);
  width: 725px;
  height: 315px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 105px;
  @media (max-width: 1024px){
    width: initial;
    height: initial;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .style-spfont{
    color: $color-gold;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    padding-bottom: 10px;
    @media (max-width: 1024px){
      font-size: 20px;
      padding-bottom: 5px;
    }  
  }
  .append-text{
    line-height: 2;
    letter-spacing: 4px;
    padding-left: 4px;
    .br{
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    @media (max-width: 1024px){
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0;
      padding-left: 0;
      padding-bottom: 10px;
    }
  }
  .append-right{
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 60px;
    color: #aaa;
    @media (max-width: 1024px){
      text-align: center;
      padding-right: 0;
      padding-top: 0;
      letter-spacing: 0;
    }
  }
  .shape-line{
    height: 1px;
    width: 1.5em;
    margin-left: 4px;
    margin-right: 4px;          
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    opacity: 0.2;
  }
}

// TITLE STYLE - WITH LEAF (now only in index)
.title.style-leaf{
  position: relative;
  margin-bottom: 25px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  @media (max-width: 1024px){
    margin-bottom: 10px;
  }
  &::before{
    content: url("/images/img-leaf-l.svg");
    width: 285px;
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    z-index: -1;
    @media (max-width: 1024px){
      width: 70px;
      display: inline-block;
      position: relative;
      left: initial;
      top: initial;
      z-index: initial;
      vertical-align: text-top;
    }
  }
  &::after{
    content: url("/images/img-leaf-r.svg");
    width: 285px;
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    z-index: -1;
    @media (max-width: 1024px){
      width: 70px;
      display: inline-block;
      position: relative;
      left: initial;
      top: initial;
      z-index: initial;
      vertical-align: text-top;
    }
  }
  .style-spfont{
    color: $color-gold;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    padding-bottom: 10px;
    @media (max-width: 1024px){
      font-size: 20px;
      padding-left: 5px;
      padding-right: 15px;
    }
  }

}

// TITLE STYLE - WITH BIG RIBON (now only in store detail)
.category-info{
  display: inline-block;
  color: $color-gold;
  border-top: 1px solid $color-gold;
  border-bottom: 1px solid $color-gold;
  white-space: nowrap;
  &::before,&::after{
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 50px;
    margin-top: -1px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &::before{
    background-image: url("/images/ribbon-o-left.svg");
  }
  &::after{
    background-image: url("/images/ribbon-o-right.svg");
  }
  span{
    vertical-align: middle;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    white-space: nowrap;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: normal;
    @media (max-width: 768px){
      font-size: 18px;
      padding-left: 30px;
      padding-right: 30px;
      letter-spacing: 1px;
    }
  }
}

//DL DT DD

.content-list{
  line-height: 1.5;
  letter-spacing: 2px;
  @media screen and (max-width: 1280px) {
    padding-top: 60px;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 0;
    padding-bottom: 30px;
  }
  /*dt*/.title{
    font-size: 17px;
    font-weight: bold;
    width: 5.5em;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
    @media screen and (max-width: 1024px) {
      display: block;
      width: 100%;
    }
  }
  /*dd*/.content{
    display: inline-block;
    vertical-align: top;
    width: calc( 100% - 100px );
    margin-bottom: 25px;
    @media screen and (max-width: 1024px) {
      display: block;
      width: 100%;
    }
    &:nth-child(2),&:nth-child(4){
      padding-right: 195px;
      @media screen and (max-width: 1280px) {
        padding-right: 0;
      }
    }
  }
}