@import "compass";

#footer{
  height: 35px;
  line-height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  &>.inner{
    max-width: 1500px;
    margin: 0px auto;
    &>.col-right{
      float: right;
      text-align: right;
      font-size: 18px;
    }
  }
  &,a{
    color: $color-navy;
  }
  a{
    display: inline-block;
    width: 35px;
  }
  .fa-facebook{
    font-size: 20px;
  }
  .btn-en{
    font-weight: bold;
    font-size: 19px;
  }
  .search-bar{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    font-size: 14px;
    width: 8em;
    height: 20px;
    background-color: #eee;
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 3px 5px inset);
    @include border-radius(10px);
    input{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 0.5em;
    background-color: transparent;
    }
  }
}