@import "compass";
$header-height: 85px !default;
#header{
  position: fixed;
  z-index: 10;
  height: $header-height;
  background-color: white;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  .nav-list{
    height: $header-height;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }
  .nav-item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: $header-height;
    // height: $header-height;
    // overflow: hidden;
    &:hover{
      // height: initial;
      .nav-sublist{
        visibility: visible;
        opacity: 1;
        height: initial;
        @include transform(translate(0px, -15px));
      }
    }
  }
  .nav-item-name{
    display: block;    
    white-space: nowrap;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 100px;
    height: $header-height;
    font-size: 19px;
    font-weight: bold;
    color: #222;
  }
  .nav-sublist{
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    background-color:  rgba(255,255,255,0.8);
    @include transform(translate(0px, -40px));
    @include transition(opacity 0.6s ease, transform 0.3s ease);
    &::before{
      content: '';
      z-index: 1;
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include background-image(radial-gradient(circle, rgba(190, 130, 40, 1), rgba(235, 220, 195, 1)));
    }
  }
  .nav-subitem{
    display: block;
    position: relative;
    width: 100%;
    white-space: initial;
    // height: 40px;
    // line-height: 40px;
    line-height: 1.1;
    font-size: 18px;
    color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.8em;
    padding-right: 24px;
    background-color: transparent;
    @include background-image(linear-gradient(left, rgba(235, 220, 195, 0.3), rgba(190, 130, 40, 0.3)));
    border-bottom: 2px solid white;
    &:hover{
      .fa-stack{
        opacity: 1;
      }
    }
    a{
      position: absolute;
      display: block;
      top: 0;right: 0;bottom: 0;left: 0;
    }
    &:first-child{
      padding-top: 25px;
      a{
        top: 25px;
      }
      .fa-stack{
        padding-top: 7px;
      }
    }
    .fa-stack{
    position: absolute;
    opacity: 0.7;
    font-size: 13px;
    // bottom: 13px;
    top: 50%;
    margin-top: -0.5em;
    right: 5px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    color: white;
    @include transition(opacity 0.2s ease);
    .fa-caret-right{
      @include transform(scale(0.6));
    }
    }
  }
}