::-moz-selection { /* Code for Firefox */
  background: $color-orange;
  color: white;
}
::selection {
  background: $color-orange;
  color: white;
}
body{
  overflow-x: hidden;
  color: #222;
  &.is-openmenu,&.is-lockscroll{
    @media (max-width: 1024px){
      overflow: hidden;
    }
  }
  @media (max-width: 1024px){
    // width: 1024px;
    overflow-x: auto;
  }
}
// 主容器
.layout-container {
  min-height: 100vh;
}
// 主內容區塊
.layout-view {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  // min-height: calc( 100vh - 85px );
  padding-top: 85px;
  padding-bottom: 35px;
  @include transition(opacity 0.5s ease);
  @media (max-width: 1024px){
    // width: 1024px;
    min-height: calc( 100vh - 75px );
  }
  &::before,&::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  &::before{
    z-index: -2;
    // background: url("/images/bg-body.png") center top repeat #000;
    @media (max-width: 1024px){
      // background: url("/images/bg-body-m.png") center top repeat #000;      
    }
  }
  &::after{
    z-index: -1;
    // mix-blend-mode: multiply;
    // background: url("/images/bg-light.png") center top repeat-y;
  }

  .is-opening-submenu &{
    opacity: 0.1;
  }
}
.layout-view-banner{
  position: relative;
  height: 245px;
  overflow: hidden;
  background-color: #eee;
  .inner{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.001)));
    z-index: 1;
  }  
}
.layout-view-inner{
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  &>.col-left{
    display: inline-block;
    vertical-align: top;
    width: 165px;
    padding-bottom: 35px;//footer height
  }
  &>.col-right{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 820px;
    width: calc(100% - 170px);
    min-height: calc( 100vh - 85px - 35px - 245px);
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 165px;//left-menu width
    bottom: 0;
    width: 30px;
    z-index: -1;
    pointer-events: none;
    @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.001)));
  }
}
.main-title{
  position: relative;
  margin-left: 30px;
  min-height: 70px;
  font-size: 24px;
  padding-top: 26px;
  letter-spacing: 1px;
  font-weight: bold;
  // border-bottom: 1px solid brown;
  &::before{
    content: '';
    z-index: 1;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include background-image(radial-gradient(circle, rgba(190, 130, 40, 1), rgba(235, 220, 195, 1)));
  }
}
.main-content{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  font-size: 17px;
  line-height: 1.8;
  h4{
    padding-top: 1em;
    font-size: 20px;
    color: $color-navy;
  }
  h5{
    padding-top: 1em;
  }
}
/*h3*/.main-subtitle{
  font-size: 27px;
  padding: 20px 0;
  line-height: 1;

  .color-lake &{
    color: $color-lake;
  }
  .color-orange &{
    color: $color-orange;
  }
  .color-blue &{
    color: $color-blue;
  }
  .color-green &{
    color: $color-green;
  }
  .color-magenta &{
    color: $color-magenta;
  }
  .color-coral &{
    color: $color-coral;
  }
  .color-navy &{
    color: $color-navy;
  }

  .style-spfont{
    font-size: 45px;
    padding-right: 0.5em;
    @include transform( scale3d(0.6, 1, 1));
  }
  .append{
    font-size: 18px;
    font-family: 'Arial Black','Arial';
    font-weight: bold;
  }
}
.neft-nav-img{
  display: block;
}
.neft-nav-item{
  display: block;
  position: relative;
  padding: 1em 0.5em;
  font-size: 15px;
  font-weight: bold;
  @include transition(color 0.2s ease);
  &,&:link,&:visited{
    color: #403f41;
  }
  &:hover{
    .color-lake &{
      color: $color-lake;
    }
    .color-orange &{
      color: $color-orange;
    }
    .color-blue &{
      color: $color-blue;
    }
    .color-green &{
      color: $color-green;
    }
    .color-magenta &{
      color: $color-magenta;
    }
    .color-coral &{
      color: $color-coral;
    }
    .color-navy &{
      color: $color-navy;
    }
  }


  &.style-border{
    border: 1px solid #403f41;
    &+&{
      border-top: 0;
    }
  }

  .style-spfont{
    font-weight: bold;
    line-height: 10px;
    display: inline-block;
    font-size: 20px;
    padding-bottom: 8px;
    @include transform(scale3d(0.9, 1, 1));
    @include transform-origin(left);
    b{
      font-size: 26px;
    }
  }
  .right-text{
    float: right;
  }

}
.style-spfont{
  font-family: 'Didact Gothic', 微軟正黑體,Arial,Helvetica,sans-serif;
}
.style-font-times{
  font-family: "Times New Roman", 微軟正黑體,Arial,Helvetica,sans-serif;
}
.style-smallfont{
  font-size: 12px;
}
.style-center{
  text-align: center;
}
.style-left{
  text-align: left;
}
.style-link{
  color: $color-orange;
  text-decoration: underline;
  @include transition(color 0.1s ease);
  &:link,&:visited{
    color: $color-orange;
  }
  &:hover,&:active{
    color: $color-orange;    
  }
}

.on-mobile{
  @media (min-width: 1024.01px){
    display: none !important;
  }
}

.on-desk{
  @media (max-width: 1024px){
    display: none !important;
  }
}

.br{
  display: inline-block;
}